<div class="widget-wrap">
    <h3 class="widget-title">Info</h3>
    <div class="widget">
        <p>My name is Johan Driessen. I work as a consultant and developer at Approach. These are good way to get in touch with me:</p>

        <div class="icons">
            <a href="https://twitter.com/nahojd"><img src="/css/images/twitter.svg"></a>
            <a href="https://github.com/nahojd"><img src="/css/images/github.svg"></a>
            <a href="https://www.linkedin.com/in/johandriessen"><img src="/css/images/linkedin.svg"></a>
            <a href="https://facebook.com/johan.driessen"><img src="/css/images/facebook.svg"></a>
            <a href="https://stackoverflow.com/users/134935/johan-driessen"><img src="/css/images/overflowing.svg"></a>
        </div>
    </div>
</div>